body {
  font-family: "Manrope", sans-serif !important;
}

#header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
  
}

#avatar {
  width: 400px;
  padding-left: 30px;
}

#headline {
  font-size: 7.993rem;
  font-weight: 700;
  color: #202020;
  font-family: "Manrope", sans-serif;
}

#headline2 {
  font-size: 7.993rem;
  font-weight: 700;
  transform: translate(-55px, 22px);
  color: #5e5e5e;
  font-family: "Manrope", sans-serif;
}

.container {
  border-left: solid 20px #202020;
}

#zivotopis {
  background-color: #202020;
  color: #fff;
  padding: 20px;
}

.row h2 {
  font-size: 2.827rem;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
}

#first-p {
  padding-top: 16px;
}

#portfolio {
  background-color: #fff;
  padding: 20px;
}

.row h3 {
  font-size: 1.999rem;
  font-weight: 700;
}

#projekt {
  padding: 20px;
}

.col-3 {
  width: 22%;
}

#game-design {
  max-width: 1250px;
}

#icon {
  padding-top: 30px;
  width: 60px;
  height: auto;
}

a {
  font-size: 1.414rem;
  font-weight: 700;
  color: #ffffff!important;
  text-decoration: none!important;
}

a:hover {
  color: #5e5e5e!important;
}

.fade-in-image { animation: fadeIn 5s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#subheadline {
  font-size: 2.827rem;
  justify-content: flex-start;
}

ul {
  list-style-type: none;
    font-size: 1.414rem;
}

li {
  background-color: #202020;
  color: #ffffff;
  font-weight: 700;
  margin: 16px 0;
  padding: 5px 20px 5px 5px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#kontakty {
  background-color: #202020;
  color: #fff;
  padding: 20px;
}